<html>
<body>
	{% for item in cliList %}
        Title: {{ item['title'] }}<br>
        Link: {{ item['linkToPosting'] }}<br>
        Price: ${{ item['price'] }}<br>
        Location: {{ item['location'] }}<br>
        Number of bedrooms: {{ item['bedrooms'] }}<br>
        Square Footage: {{ item['squareFootage'] }}sq.ft.<br>
        <br>
    {% endfor %}
</body>
</html>