<!DOCTYPE html>
<html>
<head>
	<title>.pl</title>
</head>
<body>
	<b>Welcome!</b>
	<br><br>
	<form action="/post" method="POST">
		Set max moneys you can pay: $<input type="text" name="price">
		(no decimals plz)
		<br><br>
		<button type="submit">Kick Back And Relax, I got this!</button>
	</form>
	<br><br>
	{{ cli }}
</body>
</html>